header {
    margin: 30px;
    text-align: right;
}

header a {
    margin: 20px;
    padding: 15px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid;
    border-radius: 6px;
    background-color: #434343;
    color: #ffffff;
}

header a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

p {
    color: #000;
    font-size: 20px;
}

.title {
    margin: 50px auto;
    text-align: center;
}

.list-out {
    width: 1250px;
    margin: 40px auto;
    border: 2px solid;
    border-radius: 10px;
}

.list {
    display: flex;
    justify-content: space-around;
}

.list-box {
    width: 300px;
    display: flex;
}

.name {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    font-weight: bold;
}

#copy {
    margin-top: 30px;
}

#botton {
    margin: 20px auto;
    padding: 8px 10px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    background-color: #434343;
    color: #ffffff;
}

#botton:hover {
    opacity: 0.7;
    transition: 0.3s;
}